<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../../../assets/LOGO/friend.jpg"></div>
                <div class="col-md-6 mt-1">
                    <b>Book A Friend</b>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span></span>
                    </div>
                    <br>
                    <!--<div class="mt-1 mb-1 spec-1"><span></span><span class="dot"></span><span>****</span><span class="dot"></span><span>****<br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>***</span><span class="dot"></span><span>***</span><span class="dot"></span><span>Casual<br></span></div><-->
                    <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1"></h4><span class="strike-text"></span>
                    </div>
                    <h6 class="text-success"></h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">View</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../../../assets/LOGO/plumber.jpg"></div>
                <div class="col-md-6 mt-1">
                    <b>Plumber</b>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span></span>
                    </div>
                   <br>

                    <p class="text-justify text-truncate para mb-0">person who specializes in installing and maintaining systems used for<br> potable (drinking) water, hot-water production, sewage and drainage <br>in plumbing systems.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1"></h4><span class="strike-text"></span>
                    </div>
                    <h6 class="text-success"></h6>
                    <br>
                    
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">View</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../../../assets/LOGO/acmechanic.jpg"></div>
                <div class="col-md-6 mt-1">
                    <b> AC Mechanic</b>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span></span>
                    </div>
                    <br>
                    
                    <p class="text-justify text-truncate para mb-0">AC Mechanic is to repair, maintain, install, carry out <br> regular inspections, and design new equipment for<br> Refrigeration and Air Conditioning Systems.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                   <!-- <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span>
                    </div><-->
                    <!--<h6 class="text-success">Free shipping</h6><-->
                    <br>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">View</button></div>
                </div>
            </div>
            <div class="row p-2 bg-white border rounded mt-2">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../../../assets/LOGO/carpenter.jpg"></div>
                <div class="col-md-6 mt-1">
                    <b>Carpenter</b>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span></span>
                    </div>
                    <!--<div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div><-->
                    <br>
                    <p class="text-justify text-truncate para mb-0">A carpenter works with wood to construct, install <br> and repair structures, furniture, and various wooden items<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <!--<div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$15.99</h4><span class="strike-text">$21.99</span>
                    </div>
                    <h6 class="text-success">Free shipping</h6><-->
                    <br>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">View</button></div>
                
                </div>
            </div>
        </div>
    </div>
</div>